<div class="mat-elevation-z8">
  <div id="card-container">
    <mat-card *ngFor="let user of dataSource"
      (click)="openDialog(user.id)"
      matTooltip="Click to edit {{user.first_name}}"
    >
      <mat-card-header>
        <mat-card-title>
          {{ user.first_name }} {{ user.last_name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ user.email }}
        </mat-card-subtitle>
      </mat-card-header>
      <img src="{{user.avatar}}" alt="">
      <mat-icon class="remove-user-btn"
        (click)="$event.stopPropagation(); removeUser(user)"
      >delete</mat-icon>
    </mat-card>
  </div>

  <mat-paginator #paginator
      [length]="paging.total"
      [pageIndex]="paging.page - 1"
      [pageSize]="paging.per_page"
      (page)="loadUsers($event)">
  </mat-paginator>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
