<form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="edit-user" *ngIf="!isLoading; else loading">
    <mat-card-header>
      <mat-card-title>Edit User Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" formControlName="firstName">
          <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Last name" formControlName="lastName">
          <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
  <ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
</form>
